<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" />

<body>
    <form action="/" method="POST">
        <center>
            <br>
            <p style="font-size:50px; color:white;">Thanks for submitting your feeling!</p>
            <p style="font-size:40px; color:white;">Global feeling chart below</p>
            <br>
            <br>
            <img class="plot" src="{{url_for('static', filename='plot.png')}}" align="center" style="width:680px; height:500px; border-radius: 15px;" />

        </center>
</body>

<head>
    <html>