<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" />
</head>
  <body>
  <body>
    <form action="/" method="POST">
      <center>
        <br>
        <br>
        <br>
        <img src="https://i.ibb.co/tcgTsL5/futureworld-1.png"</a>
        <br>
        <br>
        <br>
        <p style="font-size:20px; color:white;">Choose from a button below how you are feeling - This is a website that allows you to tell how you're feeling, and it will create a graph that shows everyone's response globally</p>
        <br>
        <br>
        <br>
        <button type="submit" name="good" value="good" class="button-64" role="button"><span class="text">Good</span></button>
        <br>
        <button type="submit" name="neutral" value="neutral" class="button-65" role="button"><span class="text">Neutral</span></button>
        <br>
        <button type="submit" name="bad" value="bad" class="button-66" role="button"><span class="text">Bad</span></button>
        <br>
        <br>
        <br>
        <img class="plot" src="{{url_for('static', filename='plot.png')}}" align="center" style="width:400px; height:300px; border-radius: 15px;"/>










      </center>
  </body>
<head>
<html>

